body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #EEEEEE;

    display: flex;

    font-family: "Atkinson Hyperlegible", sans-serif;
    color: #1f1f1f;
}