body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #EEEEEE;

    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);

    font-family: "Atkinson Hyperlegible", sans-serif;
    color: #1f1f1f;
}